<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <%= render food %>
          <td><%= link_to "Show this food", food %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New food", new_food_path %>
